@import "../../../_globals";
@import "../../../colors";

.ListFooter {

    > div {
        color: $dark-green;
        padding: 10px;
        background-color: $light-yellow;
        @include border(#ccc, 5px);

        & > div:first-child {
            display: inline-block;
            left: 50%; /* left-align your element to center */
            transform: translateX(-50%); /* offset left by half the width of your element */
            position: relative; /* use or dont use depending on element parent */
        }

        & > div:last-child {
            display: flex;
            float: right;
            margin-left: 100px;
            padding-right: 10px;

            > b {
                margin-right: 5px;
            }
        }
    }

}
