$light-blue: #70E0AF;//#5ACEB5; // #61dafb;
$light-blue-highlight:#a3ebdc;// #00DAFB;
$medium-blue:#47A1B7;
$light-green: #4ED38C;
$light-green-highlight: #76E2A8;
$light-green-background: #C9EFE5; //#D2F4E3//#94D3C4
$medium-green: #6CD8AB;//#5AB690;
$dark-green: #2B5B50;
$title-green: #3B7F70;
$yellow: #FFD800;
$light-yellow: #D9E55C;
$medium-yellow: #FFD119;
$dark-yellow: #DBB600;
$black-background-hover: #1D1D1D;
$black-border-hover: #2D2D2D;
$light-gray: #ccc;
$medium-gray: #9E9E9E;
$light-background: #EEE;
$dark: #343A40;
$purple: #7A30DB;
$light-purple: #915FD8;
$green: #00C130;
$red: #FF0000;
$light-pink: #FF7575;
