@import "_globals";
@import "colors";

$shadow-item: 0 0 1px;

@mixin shadow($color) {
    text-shadow: $shadow-item $color, $shadow-item $color, $shadow-item $color, $shadow-item $color;
}

@font-face {
  font-family: 'Harrington';
  src: local('Harrington'), url('/fonts/HARRINGT.TTF') format('truetype');
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Harrington', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $medium-green;
  min-height: 100vh;
}

main {
    padding : 170px 0 50px;
    color:#000;
    font-size: 24px;
}
  
  span.fa {
    font-size: 40px;
  }

/*********** ScrollBar **************/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #CCC;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-purple;
  border: 1px solid #000;
  border-radius: 5px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: $purple;
  }

/************************************/
  