  @font-face {
    font-family: 'Harrington';
    src: local('Harrington'), url('./fonts/HARRINGT.TTF') format('truetype');
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Harrington', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }